* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  background-color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
}

body .container {
  background-color: #121116;
  text-align: center;
  width: 96vw;
}

body .container .logo {
  margin-top: 115px;
}

body .container .text {
  font-size: 20px;
  margin-top: 0px;
  font-weight: 400;
}

body .container hr {
  background-color: #fff;
  width: 230px;
  height: 1px;
  border: none;
  margin: 20px auto;
}

body .container .copyright {
  margin-top: 80px;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 25px;
}

body .container .copyright a {
  color: #04bef1;
  text-decoration: none;
}

body .container .social {
  margin-top: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body .container .social__btn {
  display: inline-block;
  margin: 0 15px;
}

body .container .social__btn a {
  color: #fff;
}

.cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 100px;
}

.cards .card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 25%;
  margin: 0 15px;
}

.cards .card__img {
  width: 80px;
  height: 80px;
  line-height: 80px;
  background-color: #ffae00;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  font-size: 30px;
}

.cards .card__img:hover {
  -webkit-border-radius: 25px 0;
  border-radius: 25px 0;
}

.cards .card__heading {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  margin-top: 40px;
}

.cards .card__text {
  margin-top: 40px;
  font-size: 14px;
}
